<header style="height: 10vh" class="p-3 bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <% if (showAdd) { %>
      <a class="btn btn-success" href="/add">Add Item</a>
      <% } %>
    </div>
  </div>
</header>
