<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ('../partials/head') %>
    <title><%=title %></title>
  </head>
  <body>
    <%- include('../partials/header') %> <%-include('../partials/productsTable',
    {products})%>
  </body>
  <script src="/index.js"></script>
</html>
